*,
body {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav-bar {
    width: 100%;
    border-bottom: solid grey 1px;
    box-sizing: border-box;
    height: fit-content;
    display: block;
    padding: 40px 0;
    text-align: center;
    font-size: x-large;
}

nav a {
    text-decoration: none;
    color: grey;


}

a:hover {
    background-color: black;
    color: white;
}

#right-nav {
    float: right;
    align-items: center;
}

#left-nav {
    float: left;
}

.story_card {
    float: left;
    border: 1px solid grey;
    width: calc(98% / 2);

}

#panel {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.card_para {
    color: grey;
}

.images {
    height: 500px;
    float: left;
}

#section-title {
    border-bottom: solid grey 1px;
}

footer {

    text-align: center;
}

#footer-btn {
    display: inline-block;
    font-size: small;
    text-decoration: none;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    align-items: center;
    box-sizing: border-box;
}


@media screen and (max-width: 1200px) {


    .images {
        height: 100%;
        width: 100%;
        align-items: center;

    }
}

@media screen and (max-width: 800px) {
    nav {
        width: 100%;
        clear: both;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

#panel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
    .story_card {
        width: 100%;
        clear: both;
        align-items: center;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;
    }

    #page-title,
    .column-div {
        width: 100%;
    }

    #right-nav {
        float: none;
        align-items: center;
        flex-direction: column;
        display: flex;
        width: 100%;

    }

    #left-nav {
        display: none;
    }

}